<!DOCTYPE html>
<html ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="js/jquery/jquery-1.12.4.js"></script>
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.29/browser.js"></script>

<script type="text/babel" src="js/index/index.js"></script>
</head>

<body>
<h2>Alex 領英查詢專案</h2>
<div id="app"></div>


<div id="content">


<div className="shopping-list">
 


<div id="pageTitle"></div>


<script type="text/babel">
     
    </script>


</body>
</html>





